body{
    background-color: #f1f1f1;
}
.content{
    padding: 20px;
}
.title{
    font-size: 16px;
    font-weight: bold;
    color: #323232;
}
.book-search {
    margin-top: 20px;
    width: 30%;
    float: left;
    padding-left: 185px;
}
.right-search{
    width: 70%;
    float: left;
    margin-top: 20px;
}
.table-hover th,.table-hover td{
    text-align: center;
    line-height: 30px;
}
.search-form .form-group{
    float: left;
}
.search-btn{
    margin-left: 20px!important;
}
.addStock,.deleteBook{
    padding: 0 4px;
}

#mask{
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 9998;
    display: none;
}
.addStock-part{
    width: 400px;
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 9999;
    padding-bottom: 20px;
}
.addTitle{
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px 0 15px;
    font-size: 18px;
}
.close{
    margin-right: 10px;
}
.add-btn{
    margin-left: 175px;
}
.addBook{
    margin-top: 20px;
}
.addBook-btn,{
    line-height: 30px;
    padding: 10px;
    font-size: 16px;
}

.addBook-part{
    width: 400px;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    display: none;
}
.addNew-btn{
    margin-left: 150px;
}
.Jselect{
    display: none;
}
.show-results{
    margin-top: 20px;
    display: none;
}
.show-later{
    margin-top: 20px;
}
.show-later h3{
    font-size: 16px;
    margin-bottom: 10px;
}
