doctype
html
    head
        meta(charset="utf-8")
        title= title
        link(rel='styleSheet' href='/stylesheets/reset.css')
        link(rel='styleSheet' href='/stylesheets/admin/statistics.css')
    body
        .content
            .head
                h3 统计信息 |
            .statistics-kind
                a.item-kind(href="#") 本月借阅榜
            #container
        script(src="../javascripts/jquery-1.8.3.min.js")
        script(src="../javascripts/echarts.min.js")
        script(src="../javascripts/admin/statistics.js")
